{% extends "base.html" %}  <!-- Какой шаблон родительский?  -->

{% block content %}  <!-- В какой блок родителя вставляем код? -->
    {% if type == 'Научные симуляторы' %}
        <h2 style="text-align:center">Научные симуляторы</h2>
        <img src="../static/img/нс.png" alt='Здесь должна была быть картинка, но не нашлась'>
    {% elif type == 'Инженерные тренажеры' %}
        <h2 style="text-align:center">Инженерные тренажеры</h2>
        <img src="../static/img/ит.png" alt='Здесь должна была быть картинка, но не нашлась'>
    {% endif %}
{% endblock %}
